
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    height: 100%;
    overflow-y: auto;
    padding: 20px;
 
  }
  
  .cart.show {
    display: block;
  }
  
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .close-cart-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .cart-item-details h3 {
    margin: 0;
  }
  
  .cart-item-details p {
    margin: 0;
  }
  
  button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff4500;
  }
  